<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
</head>
<body>
<header><img src="http://i.huffpost.com/gen/2442110/images/o-FORTUNE-COOKIE-RESOLUTIONS-facebook.jpg" alt="Fortune Logo" width="25%"></header>


{{{body}}}
</body>
</html>